# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environments
.venv/
venv/
env/

# VS Code
.vscode/

# Tests
tests/

# Python cache
.pytest_cache/


# Environment
.env

# OS
.DS_Store
Thumbs.db
